<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's site</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <header>
        <div class="align-self-center text-center">
            <img src="/img/avatar.webp" alt="My logo" class="header-img circle">
            <div class="typing-container">
                <h1><span id="typing-name"></span><span id="typing-job"></span></h1>
                <span class="input-cursor"></span>
            </div>
            <p>Please join my <a href="/discord">Discord</a> if you want to contact me</p>
        </div>
    </header>

    <main>
        <section data-inviewport="fadeInLeft">
            <div class="left-text">
                <h2>JavaScript</h2>
                <p>I started using JavaScript with Discord bots (Node.JS), but later also with websites. JavaScript is the language I use the most, and am the best in.</p>
                <p>Since: 2018</p>
            </div>
            <div class="right-image">
                <img src="/img/javascript.webp" alt="JavaScript's logo" class="section-img" data-inviewport="rotate">
            </div>
        </section>

        <section data-inviewport="fadeInRight" class="mobile-column-reverse">
            <div class="left-image">
                <img src="/img/html.webp" alt="HTML's logo" class="section-img" data-inviewport="rotate">
            </div>
            <div class="right-text">
                <h2>HTML</h2>
                <p>I've created a few sites with HTML, but I prefer ejs (which is like HTML), but with embedded javascript so I can easily show variables on the page.</p>
                <p>Since: 2019</p>
            </div>
        </section>

        <section data-inviewport="fadeInLeft">
            <div class="left-text">
                <h2>Python</h2>
                <p>I've used python for a few projets, but I barely use it anymore. I don't like it's syntax / simplicity.</p>
                <p>Since: 2019</p>
            </div>
            <div class="right-image">
                <img src="/img/python.webp" alt="Python's logo" class="section-img" data-inviewport="rotate">
            </div>
        </section>

        <section data-inviewport="fadeInRight" class="mobile-column-reverse">
            <div class="left-image">
                <img src="/img/linux.webp" alt="Linux's logo" class="section-img" data-inviewport="rotate">
            </div>
            <div class="right-text">
                <h2>Linux</h2>
                <p>My PC's run Arch linux, and (most of) my servers run ubuntu.</p>
                <p>Since: 2019</p>
            </div>
        </section>

        <section data-inviewport="fadeInLeft">
            <div class="left-text">
                <h2>PokéHunt</h2>
                <p>PokéHunt is a Pokémon Bot (Like Pokecord) That Let's It's Players to Catch, Collect, Trade & Battle While Completing Various Quests!</p>
                <p>Started: 2020, active</p>
                <div>
                    <a class="btn btn-primary" href="https://pokehunt.xyz/" target="_blank">site</a>
                    <a class="btn btn-primary" href="https://pokehunt.xyz/invite" target="_blank">invite</a>
                </div>
            </div>
            <div class="right-image">
                <img src="/img/pokehunt.webp" alt="PokéHunt's logo" class="section-img" data-inviewport="rotate">
            </div>
        </section>

        <section data-inviewport="fadeInRight" class="mobile-column-reverse">
            <div class="left-image">
                <img src="/img/chattin.webp" alt="Chattin's logo" class="section-img" data-inviewport="rotate">
            </div>
            <div class="right-text">
                <h2>Chattin</h2>
                <p>Chattin is a simple app which allows you to chat to other people in different rooms. If you join the same room as your friends, you are able to talk to them in that specific room.</p>
                <p>Started: 2020, active (got archived (2020), but restarted (2021))</p>
                <div>
                    <a class="btn btn-primary" href="https://github.com/RobinSchapendonk/Chattin" target="_blank">github</a>
                    <a class="btn btn-primary" href="https://github.com/RobinSchapendonk/Chattin/releases" target="_blank">download</a>
                </div>
            </div>
        </section>

        <section data-inviewport="fadeInLeft">
            <div class="left-text">
                <h2>Earl</h2>
                <p>Earl is a multipurpose Discord bot, with unique features like farms, logging and graphs to see how much members joined in the last x days.</p>
                <p>Sadly I discontinued Earl due to it being a bot like many others have made, and nobody would want to use them, as there are already big and better alternatives. But it was a great learning experience.</p>
                <p>Started: 2020, deleted (2020)</p>
            </div>
            <div class="right-image">
                <img src="/img/earl.webp" alt="Earl's logo" class="section-img" data-inviewport="rotate">
            </div>
        </section>
    </main>
</body>

</html>