<html>

<head>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/site.css" />
    <title>Robin Schapendonk</title>
</head>

<body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Robin Schapendonk</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/projects">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br><br><br>
    
    <div class="container text-center">
        <h2>For a list of my current projects, please see my <a href="https://github.com/RobinSchapendonk" target="_blank">GitHub</a></h2><br>
        <div class="card-group">
            <div class="card bg-dark border-0">
                <img src="/images/pokehunt.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h3 class="card-title">PokeHunt</h3>
                    <p class="card-text">PokeHunt is a Pokémon Discord bot that lets players catch, collect, trade & battle while completing various quests. In an active channel, the bot will randomly spawn a Pokémon, which you can catch. After you've caught it, you can level it up, or sell it on the market. You can also battle with other players, and see who has the strongest Pokémon!</p>
                </div>
                <div class="card-footer text-white bg-dark border-0">
                    <div class="list-group">
                        <a href="https://pokehunt.xyz/" target="_blank" class="btn btn-primary m-1" role="button">Website</a>
                        <a href="https://pokehunt.xyz/invite" target="_blank" class="btn btn-primary m-1" role="button">Invite</a>
                    </div>
                </div>
            </div>

            <div class="card bg-dark border-0">
                <img src="/images/discord.svg" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h3 class="card-title">Various Discord bots</h3>
                    <p class="card-text">This repository includes various Discord bots I've made.<br><br>-ModMail Bot<br>-Mongoose (mongoDB) Bot<br>-24/7 Music Bot<br>Polish Cow Bot<br>-Support bot<br>-Ticket Bot</p>
                </div>
                <div class="card-footer text-white bg-dark border-0">
                    <div class="list-group">
                        <a href="https://github.com/RobinSchapendonk/discord-bots" target="_blank" class="btn btn-primary m-1" role="button">GitHub</a>
                    </div>
                </div>
            </div>

            <div class="card bg-dark border-0">
                <img src="/images/earl.jpg" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h3 class="card-title">Earl</h3>
                    <p class="card-text">Earl is a multipurpose Discord bot, with unique features like farms, logging and graphs to see how much members joined in the last x days.</p>
                </div>
                <div class="card-footer text-white bg-dark border-0">
                    <div class="list-group">
                        <a href="https://earl.tk/" target="_blank" class="btn btn-primary m-1 disabled" role="button">Website</a>
                        <a href="https://earl.tk/invite" target="_blank" class="btn btn-primary m-1 disabled" role="button">Invite</a>
                    </div>
                </div>
            </div>

            <!-- <div class="card bg-dark border-0">
                <img src="/images/ai.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h3 class="card-title">Artificial Intelligence</h3>
                    <p class="card-text">A Discord bot with all the features I could think of. It's not even AI related, but a friend of me suggested this name. It had things like custom commands, moderation, autoroles, rooms, welcoming, anti spam, anti raid, user / server information and economy.</p>
                </div>
                <div class="card-footer text-white bg-dark border-0">
                    <div class="list-group">
                        <a href="https://aibot.tk/" target="_blank" class="btn btn-primary m-1 disabled" role="button">Website</a>
                        <a href="https://aibot.tk/invite" target="_blank" class="btn btn-primary m-1 disabled" role="button">Invite</a>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="card-group">
            <div class="card bg-dark border-0">
                <img src="/images/chattin.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h3 class="card-title">Chattin'</h3>
                    <p class="card-text">Chattin' is a simple app which allows you to chat to other people in different rooms. If you join the same room as your friends, you are able to talk to them in that specific room.</p>
                </div>
                <div class="card-footer text-white bg-dark border-0">
                    <div class="list-group">
                        <a href="https://github.com/RobinSchapendonk/Chattin/releases/tag/v0.0.1" target="_blank" class="btn btn-primary m-1 disabled" role="button">Download</a>
                    </div>
                </div>
            </div>

            <div class="card bg-dark border-0">
                <img src="/images/dbot-creator.png" class="card-img-top" alt="...">
                <div class="card-body text-white">
                    <h3 class="card-title">Discord Bot Creator</h3>
                    <p class="card-text">With Discord bot creator, you can create a Discord bot without writing a single line of code. You can select the commands you want in your bot, which I already pre coded.</p>
                </div>
                <div class="card-footer text-white bg-dark border-0">
                    <div class="list-group">
                        <a href="https://github.com/RobinSchapendonk/dbot-creator/releases" target="_blank" class="btn btn-primary m-1 disabled" role="button">Download</a>
                        <a href="https://github.com/RobinSchapendonk/dbot-creator/" target="_blank" class="btn btn-primary m-1" role="button">GitHub</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="particles-js"></div>
    <script src="js/particles.js"></script> -->
</body>

</html>