<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's site</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <header>
        <div class="align-self-center text-center">
            <img src="/img/avatar.webp" alt="My logo" class="header-img circle">
            <h2>Oops, something went wrong, <a href="/">return to main page</a></h2>
            <p>Please join my <a href="/discord">Discord</a> if you want to contact me</p>
        </div>
    </header>
</body>

</html>